body{
    margin: 1px;
    overflow-x: hidden;
}

#form--ans{
    margin-left: 2rem;
}

.sub-menu-wrap{

    position: absolute;
    top:100%;
    right: 10%;
    width: 320px;
}
.upvote-btn, .downvote-btn {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
  }
  
  
  
